body{
    text-align: center;
}
a{
    font-size: larger;
}
img{
    margin: 0;
    height: 200px;
}
div{
    margin-top: 20px;
}
  th{
    width: 100px;
    border: 2px black solid;
  }
  tr{
    border: 2px black solid;
  }
  table{
    align-items: center;
    padding: 0;
    border: 2px black solid;
    text-align: center;
  }
  td{
    height: 50px;
    border: 2px black solid;
  }
