body{
    text-align: center;
}
a{
    font-size: larger;
}
img{
    margin: 0;
    height: 200px;
}
div{
    margin-top: 20px;
}
  th{
    width: 100px;
    border: 2px black solid;
  }
  tr{
    border: 2px black solid;
  }
  table{
    padding: 0;
    text-align: center;
  }
  td{
    height: 50px;
    border: 2px black solid;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
